/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
@import "fonts.css";
button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
[type=checkbox],
[type=radio],
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
/* ===============   Colors   ============== */
/* ===============   Sizes   ============== */
/* ===============   Most used selectors   ============== */
* {
  font-family: "OS", sans-serif;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.f-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  padding: 20px 35px;
  -webkit-box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background: #fff;
  border: none;
  outline: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
  border: 1px solid #5E9CA3;
  font-weight: bold;
  color: #5E9CA3;
  font-size: 16px;
  line-height: 20px;
}
.btn:hover {
  -webkit-box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.15);
}
.center {
  text-align: center;
}
main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.left-sidebar {
  background: #5E9CA3;
  text-align: center;
  width: 400px;
  height: 100vh;
}
.left-sidebar .logo {
  width: 250px;
  display: inline-block;
}
.left-sidebar .logo img {
  max-width: 100%;
}
.left-sidebar ul {
  text-align: left;
  padding-left: 0;
  margin: 0;
}
.left-sidebar ul li {
  list-style: none;
  padding-top: 18px;
  padding-bottom: 18px;
  background: rgba(0, 0, 0, 0);
  padding-left: 25px;
  padding-right: 25px;
}
.left-sidebar ul li:hover,
.left-sidebar ul li.active {
  background: rgba(0, 0, 0, 0.1);
}
.left-sidebar ul li:hover .cls-1,
.left-sidebar ul li.active .cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.left-sidebar ul li:hover span,
.left-sidebar ul li.active span {
  color: #FFFFFF;
}
.left-sidebar ul li .cls-1 {
  fill: none;
  stroke: #ccc;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.left-sidebar ul li a {
  display: inline-block;
}
.left-sidebar ul li a svg {
  display: inline-block;
  vertical-align: middle;
}
.left-sidebar ul li span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  display: inline-block;
  margin-left: 17px;
  vertical-align: middle;
  color: #CCCCCC;
}
.left-sidebar svg {
  width: 23px;
  height: 23px;
}
.right-content {
  padding-left: 85px;
  padding-right: 85px;
  width: 100%;
  padding-top: 35px;
}
.right-content .top-menu {
  margin-bottom: 35px;
}
.right-content .top-menu h2 {
  font-size: 40px;
  line-height: 48px;
  color: #9FD3D1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.right-content .icon-move {
  width: 15px;
  cursor: pointer;
}
.right-content .icon-move svg .cls-1 {
  fill: none;
  stroke: #b3b3b3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.right-content .content-right-sidebar.choose-sibling {
  margin-right: -24px;
}
.right-content .content-right-sidebar.choose-sibling .block-siblings {
  width: 100%;
}
.right-content .list-items {
  margin: 0;
  padding: 0;
  margin-right: 24px;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.right-content .list-items li.list-item {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #F2F2F2;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-content .list-items li.list-item:hover .left span {
  color: #000000;
}
.right-content .list-items li.list-item:hover .left .cls-1 {
  stroke: #4D4D4D;
}
.right-content .list-items li.list-item:hover .right .cls-1 {
  stroke: #4D4D4D;
}
.right-content .list-items li.list-item .left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-content .list-items li.list-item .left span {
  margin-left: 15px;
  font-size: 16px;
  line-height: 19.2px;
  color: #4D4D4D;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.right-content .list-items li.list-item .right a {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 18px;
}
.right-content .list-items li.list-item .right a svg {
  max-width: 100%;
  max-height: 100%;
}
.right-content .list-items li.list-item .right .cls-1 {
  fill: none;
  stroke: #b3b3b3;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.block-siblings {
  width: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden;
}
.block-siblings .top {
  border-bottom: 1px solid #5E9CA3;
}
.block-siblings .top .wrapper-input {
  position: relative;
}
.block-siblings .top .wrapper-input .icon-search {
  position: absolute;
  top: 50%;
  left: 18.5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
}
.block-siblings .top .wrapper-input input {
  padding-left: 45px;
  width: 100%;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  font-size: 14px;
  line-height: 16px;
  border: none;
  outline: none;
}
.block-siblings .bottom h4 {
  font-size: 24px;
  color: #9DC6B3;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}
.block-siblings .list-siblings {
  padding: 0;
  margin: 0;
}
.block-siblings .list-siblings .list-item {
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  padding-left: 17px;
  padding-right: 28px;
}
.block-siblings .list-siblings .list-item:nth-child(2n+1) {
  background: #F7FBFC;
}
.block-siblings .list-siblings .list-item .left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-siblings .list-siblings .list-item .left span {
  margin-left: 30px;
}
.block-siblings .list-siblings .list-item .right a {
  display: inline-block;
}
.block-siblings .list-siblings .list-item .right a svg {
  width: 15px;
}
.block-siblings .list-siblings .list-item .right a svg .cls-1 {
  fill: none;
  stroke: #4d4d4d;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.modal-window {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.modal-window.show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.modal-window .modal-content {
  padding-top: 55px;
  padding-bottom: 75px;
  background: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding-left: 65px;
  padding-right: 65px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-content h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 45px;
  margin-top: 0;
  color: #7FC6C6;
  text-align: center;
}
.modal-window .modal-content .field {
  margin-bottom: 60px;
}
.modal-window .modal-content .field span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  color: #5E9CA3;
  margin-bottom: 4px;
}
.modal-window .modal-content .field span i {
  font-style: normal;
  color: #934141;
  font-weight: bold;
}
.modal-window .modal-content .field input {
  width: 500px;
  font-size: 14px;
  line-height: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #5E9CA3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.modal-window .modal-content .btn {
  background: #5E9CA3;
  font-weight: bold;
  color: #fff;
  padding: 18px 55px;
}
