/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
@import "variables.less";
@import "fonts.css";

/* ===============   Most used selectors   ============== */
* {
    font-family: @OS;
}

body{
    background: #EFEFF9;
}
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.f-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.center{
    text-align: center;
}

.btn {
    padding: 18px 50px;
    border-radius: 12px;
    display: inline-block;
    color: #fff;
    background: @light-blue;
    text-transform: uppercase;
    transition: .3s;
    border: none;
    outline: none;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    img{
        width: 11px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
    }
    &:hover {
        box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.15);
    }
}

.center {
    text-align: center;
}
header{
    overflow: hidden;
    .d-flex{
        height: 100%;
    }
}
.page-register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .register-form{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;
        width: 630px;
        height: 490px;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 10px 20px rgba(0,0,0,.15);
        .top{
            height: 150px;
            background: @light-blue;
            width: 100%;
            text-align: center;
            img{
                height: 150px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-left: 15px;
            padding-right: 15px;
            .field{
                margin-bottom: 50px;
                position: relative;
                display: inline-block;
                max-width: 100%;
            }
            input{
                background: #F7FCFC;
                border: 1px solid #5E9CA3;
                border-radius: 2px;
                font-size: 20px;
                font-family: @OS;
                padding: 12px 25px;
                line-height: 35px;
                width: 500px;
                max-width: 100%;
            }
            .error-message{
                background: red;
                padding: 4px;
                color: #fff;
                position: relative;
                margin-top: 10px;
                &:before{
                    content:'';
                    position: absolute;
                    bottom: 100%;
                    left: 20px;
                    border: 8px solid red;
                    border-top-width: 0;
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
            .btn{
                position: relative;
                &.loading{
                    .spinner{
                        opacity: 1;
                    }
                    .main{
                        opacity: 0;
                    }
                }
                .main{
                    opacity: 1;
                    transition: .3s;
                }
                .spinner{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: .3s;
                }
            }
        }
    }
}
.page-choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    &.with-error{
        .symptoms .symptom .question.error{
            .error-message{
                opacity: 1;
            }
        }
    }
    header{
        font-family: @Montserrat;
        background: @light-blue;
        padding-left: 40px;
        padding-right: 0;
        width: 100%;
        height: 85px;
        .left{
            display: flex;
            align-items: center;
            img{
                width: 23px;
                margin-right: 10px;
                margin-bottom: -4px;
            }
        }
        .logo{
            font-size: 0;
            img{
                opacity: .6;
                height: 125px;
                margin-top: -20px;
                margin-bottom: -20px;
            }
        }
        h2{
            color: #fff;
            font-weight: 500;
            font-size: 30px;
            margin: 0;
            margin-left: 15px;
            margin-bottom: 1px;
        }
    }
    .thumb-vertical{
        width: 20px!important;
        background: @light-blue;
        border-radius: 10px;
        margin-left: -14px;
        cursor: pointer;
    }
    .btn-to-top, .btn-to-bottom{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .content{
        height: 100%;
        width: 100%;
        padding-right: 10px;
        overflow: hidden;
        .block{
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 50px;
        }
        .concerns{
            padding-top: 0;
            margin-bottom: -50px;
        }
        .concern{
            border-radius: 25px;
            background: #fff;
            display: block;
            box-shadow: 0 10px 15px rgba(0,0,0,.15);
            padding: 20px 30px;
            img{
                width: 12px;
            }
            p{
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                font-family: @Montserrat;
                color: #2E4443;
                margin-top: 0;
            }
            .right{
                text-align: right;
            }
        }
    }
    .symptoms{
        padding: 10px 15px 30px 30px;
        .symptom{
            padding: 19.5px 30px 22px;
            background: #fff;
            border-radius: 15px;
            width: 100%;
            margin-bottom: 20px;
            box-shadow: 0 0 15px rgba(0,0,0,.15);
            .title{
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                font-family: @Montserrat;
            }
            .question{
                width: 100%;
                display: flex;
                position: relative;
                label{
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 45px;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        visibility: hidden;
                        &:checked + span{
                            background: @light-blue;
                            color:#fff;
                        }
                    }
                    span{
                        width: 100%;
                        padding-top: 15px;
                        display: inline-block;
                        padding-bottom: 15px;
                        border:1px solid #5E9CA3;
                        border-radius: 25px;
                        text-align: center;
                        color: @light-blue;
                        cursor: pointer;
                        font-family: @Montserrat;
                        font-weight: 600;
                        text-transform: uppercase;
                        transition: .3s;
                        box-shadow: 0 0 15px rgba(0,0,0,.15);
                    }
                }
                input[type="text"], textarea{
                    border-radius: 3px;
                    border: 2px solid #5E9CA3;
                    resize: none;
                    width: 100%;
                    padding: 12px;
                    font-size: 16px;
                    font-family: @OS;
                    color: #666666;
                    background: #F7FCFC;
                }
                textarea{
                    height: 96px;
                }
                .input-range{
                    height: initial;
                    margin-left: 22.5px;
                    margin-right: 22.5px;
                }
                .input-range__label--max, .input-range__label--min{
                    display: none;
                }
                .input-range__label{
                    color: #5E9CA3;
                    font-size: 19px;
                    line-height: 22px;
                    font-weight: 600;
                    font-family: @Montserrat;
                }
                .input-range__label--value{
                    z-index: 20;
                    transform: translateY(-50%);
                    top: 50%;
                    pointer-events: none;
                    .input-range__label-container{
                        position: relative;
                        color: fade(#5E9CA3, 0);
                        &:before{
                            content: ' - ';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: transparent;
                            font-size: 28px;
                            width: 20px;
                            height: 20px;
                            color: #5E9CA3;
                            z-index: 2;
                            text-align: center;
                            line-height: 14px;
                            opacity: 1;
                        }
                    }
                }
                .input-range__slider-container{
                    &:active, &:focus {
                        .input-range__label.input-range__label--value{
                            .input-range__label-container{
                                color: #fff;
                                &:before{
                                    opacity: 0;
                                }
                            }
                        }
                        .input-range__slider{
                            &:before, &:after{
                                visibility: visible;
                                opacity: 1;
                                transition: opacity .3s, visibility 0s 0s;
                            }
                        }
                    }
                }
                &.actived{
                    .input-range__slider{
                        background: #5E9CA3;
                        color:#fff;
                    }
                    .input-range__label--value{
                        color: #fff;
                        .input-range__label-container:before{
                            opacity: 0;
                        }
                        .input-range__label-container{
                            color: #fff;
                        }
                    }
                }
                .error-message{
                    font-size: 12px;
                    color: #f00;
                    position: absolute;
                    top: 100%;
                    left: 10px;
                    text-align: center;
                    width: 100%;
                    margin-top: 2px;
                    opacity: 0;
                    pointer-events: none;
                }
                .input-range__slider{
                    width: 45px;
                    height: 45px;
                    margin-top: -22.5px;
                    margin-left: -22.5px;
                    border: 2px solid #5E9CA3;
                    background: #fff;
                    &:active, &:focus{
                        transform: scale(1);
                        box-shadow: 0 0 25px rgba(63, 81, 181, 0.15);
                        background: @light-blue;
                    }
                    &:before{
                        content: attr(aria-valuenow);
                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        transform: translate(-50%, -50px);
                        padding: 6px 25px;
                        background: @light-blue;
                        border-radius: 10px;
                        color: #fff;
                        font-weight: 600;
                        font-size: 32px;
                        font-family: @Montserrat;
                        opacity: 0;
                        visibility: collapse;
                        transition: opacity .3s, visibility 0s .3s;
                    }
                    &:after{
                        content:'';
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 0;
                        width: 0;
                        border-style: solid;
                        border-width: 40px 10px 0;
                        border-color: @light-blue transparent transparent;
                        opacity: 0;
                        visibility: collapse;
                    }
                }
                .input-range__track{
                    height: 2px;
                    background: @light-blue;
                }
                .input-range{
                    margin-right: 10px;
                }
                .btn{
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    text-align: center;
                    border-radius: 50%;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 16px;
                    svg{
                        width: 11px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .st0{
                        fill:none;
                        stroke:#FFFFFF;
                        stroke-width:2;
                        stroke-miterlimit:10;
                    }
                    .cls-1 {
                        fill: none;
                        stroke: #fff;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                    }
                }
            }
        }
    }
    .submit-block{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .thanks-page{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 100%;
        h2{
            font-size: 40px;
            line-height: 60px;
            color: @light-blue;
            font-weight: 600;
            margin-top: 0;
            font-family: @Montserrat;
        }
    }
}

.message-next-patient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    .react-countdown-clock{
        canvas:first-child{
            display: none;
        }
    }
    h3{
        font-family: @Montserrat;
        color: @light-blue;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 50px;
    }
    .btns{
        .btn{
            margin-left: 25px;
            margin-right: 25px;
            width: 230px;
            padding-left: 27px;
            padding-right: 27px;
            text-align: center;
            display: flex;
            align-items: center;
            &.white{
                background: #fff;
                border: 1px solid @light-blue;
                color: @light-blue;
            }
            img{
                margin-top: 0;
            }
            span{
                display: inline-block;
                width: 100%;
                font-family: @Montserrat;
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}

.ScrollbarsCustom{
    .content{
        width: initial;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    &.trackYVisible{
        .content{
            padding-right: 50px!important;
        }
    }
    .track{
        width: 50px!important;
        border-radius: 10px!important;
        padding-left: 10px;
        padding-right: 10px;
        background: none!important;
        transform: scale(.9);
        overflow: initial!important;
        &:before{
            content:'';
            top: 0;
            position: absolute;
            left: 10px;
            height: 100%;
            width: 30px;
            background: #fff;
        }
        .scroll-bar{
            background: @light-blue!important;
            border-radius: 10px!important;
            position: relative;
        }
        .btn-to-top, .btn-to-bottom{
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            box-shadow: 0 0 15px rgba(0,0,0,.2);
            img{
                width: 32px;
                margin-top: 9px;
                margin-left: 9px;
            }
        }
        .btn-to-top{
            margin-top: -5px;
        }
        .btn-to-bottom{
            top: initial;
            bottom: 0;
            margin-bottom: -5px;
        }
    }
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 3px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
@media screen and (max-width: 1024px){
    .page-choose .content .block{
        width: 33.333333%;
    }
}
@media screen and (max-width: 768px){
    .page-choose .content{
        padding-right: 0;
    }
    .ScrollbarsCustom.trackYVisible {
        .track {
            display: none;
        }
        .wrapper{
            margin-right: 0!important;
        }
        .content{
            padding-right: 0!important;
            margin-right: 0!important;
        }
    }
    .page-choose .symptoms .symptom{
        flex-direction: column;
        .block-6{
            width: 100%;
            &.title{
                margin-bottom: 20px;
            }
        }
    }
    .page-choose .symptoms{
        padding-right: 30px;
    }
}
@media screen and (max-width: 630px){
    .page-choose .content .block{
        width: 50%;
    }
    .page-choose header .logo img{
        height: 90px;
    }
    .page-choose header h2{
        font-size: 21px;
    }
    .page-choose header{
        padding-left: 15px;
    }
    .page-choose .symptoms .symptom .block-6.title{
        margin-bottom: 30px;
    }
    .message-next-patient h3{
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 32px;
    }
    .message-next-patient .btns .btn{
        width: 200px;
    }
}
@media screen and (max-width: 500px)  {
    .page-choose .symptoms .symptom .question{
        flex-wrap: wrap;
        justify-content: center;
    }
    .page-choose .symptoms .symptom .question .input-range{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .page-choose .symptoms .symptom .question .btn.minus{
        margin-left: 0;
    }
    .page-choose .symptoms .symptom .question label:not(:last-child){
        margin-right: 0;
        margin-bottom: 20px;
    }
    .page-choose .submit-block .block-6{
        width: 0;
    }
    .page-choose .submit-block .center{
        width: 100%;
    }
    .message-next-patient{
        .btns{
            flex-direction: column;
            .btn{
                margin-bottom: 20px;
            }
        }
    }
    .page-choose .thanks-page h2{
        font-size: 24px;
        line-height: 30px;
    }
}
@media screen and (max-width: 425px){
    .page-choose .content .block{
        width: 100%;
    }
    .page-choose header .logo img{
        height: 60px;
    }
    .page-choose header h2{
        font-size: 18px;
    }
    .page-choose header{
        padding-left: 15px;
    }
    .page-choose .symptoms{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ScrollbarsCustom .content{
        padding-top: 20px;
    }
    .page-choose .symptoms .symptom{
        padding: 15px 20px;
    }
    .page-choose header .left img{
        width: 13px;
        margin-right: 0;
    }
    .page-choose header h2{
        margin-bottom: 0;
    }
    .page-choose .content .block{
        margin-bottom: 30px;
    }
    .page-register .register-form .bottom input{
        font-size: 15px;
    }
    .page-register .register-form .bottom .field{
        margin-bottom: 30px;
    }
    .page-register .register-form{
        height: 350px;
    }
    .page-register .register-form .top img{
        height: 100px;
    }
}