/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
@OS: "OS", sans-serif;
@Montserrat: "Montserrat", sans-serif;

/* ===============   Colors   ============== */

@light-blue:#5E9CA3;

/* ===============   Sizes   ============== */
@ma: 0 auto;
